@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}


.header , .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  font-size: small;
}

.footer {
  background-color: #eeeeee;
  flex: 0;
}

.content {
  text-align: center;
  justify-content: space-between;
  padding: 16px;
  flex: 1;
}

.left-links , .right-links {
  display: flex;
  align-items: center;
  gap: 12px;
}



ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 6px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
